body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  background-color: #C6DEA6;
  position: relative;
}

header {
  width: 100%;
  height: 150px;
  background-color: #F3EAF3;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
}

header .logo {
  display: block;
  margin: 0 auto;
  width: 333px;
  height: 150px;
  background: url(../images/logo-orinoco.png);
}

footer {
  width: 100%;
  height: 150px;
  background-color: #F3EAF3;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .link-box {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .link-box a {
  text-decoration: none;
  color: #000000;
  font-size: 1.1em;
  position: relative;
}

footer .link-box a::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

footer .link-box a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.list-element {
  width: 90%;
  height: 175px;
  margin: 15px auto;
  list-style-type: none;
  background-color: #F3EAF3;
  -webkit-box-shadow: 0 0 3px #7e777e;
          box-shadow: 0 0 3px #7e777e;
}

.list-element:hover .list-element_link_img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.list-element_link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.list-element_link_img {
  width: 20%;
  height: 145px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  overflow: hidden;
}

.list-element_link_img img {
  width: 100%;
  height: 145px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
}

.list-element_link_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 60%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.list-element_link_text_name {
  font-size: 1.4em;
}

.list-element_link_price {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-size: 1.5em;
}

.product-page {
  width: 80vw;
  height: 80vh;
  background-color: #F3EAF3;
  border-radius: 10px 10px;
  border: 1px solid #706f6f;
  position: absolute;
  top: 10vh;
  left: 10vw;
  z-index: 9;
  display: none;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
}

.product-page_close {
  display: inline-block;
  position: absolute;
  top: 3%;
  right: 1.5%;
  width: 20px;
  height: 20px;
  background-color: #F3EAF3;
  color: #6f44c4;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 2em;
  font-weight: bolder;
  cursor: pointer;
}

.product-page_img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  width: 80%;
  height: 80%;
  background-color: blue;
  border-radius: 10px 10px;
}

.product-page .customization {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.product-page .customization_options {
  margin: 5px;
}

.product-page_text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  text-align: center;
}

.product-page_text_name {
  font-size: 1.5em;
  font-weight: bold;
}

.product-page_text_description {
  padding: 35px;
}

.product-page_text_price {
  font-size: 1.3em;
  font-weight: bold;
}

.product-page_add {
  width: 40%;
  height: 30%;
  border-radius: 10px 10px;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 1.5em;
  background-color: #C6DEA6;
  color: #6f44c4;
  -webkit-box-shadow: 0 0 3px #979297;
          box-shadow: 0 0 3px #979297;
  cursor: pointer;
}

.notification-panel {
  width: 200px;
  position: fixed;
  top: 20vh;
  left: 80vw;
}

.notification-panel .notification {
  height: 20px;
  width: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: rgba(219, 1, 1, 0.9);
  color: white;
  opacity: 1;
  z-index: 99;
  text-align: center;
}

.notification-panel .my-product-large-container {
  width: 200px;
  overflow: hidden;
  border: 0;
  border-radius: 50px 50px;
}

.notification-panel .my-product-large-container .my-product-container {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notification-panel .my-product-large-container .my-product-container:hover .my-product {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.notification-panel .my-product-large-container .my-product-container:hover .my-product .fas {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.notification-panel .my-product-large-container .my-product-container:hover .my-product .product-container {
  color: #b46d01;
}

.notification-panel .my-product-large-container .my-product-container:hover .my-product .product-container_texte {
  opacity: 1;
}

.notification-panel .my-product-large-container .my-product-container .my-product {
  width: 200px;
  border-radius: 50px 50px;
  text-align: center;
  line-height: 67px;
  background-color: white;
  cursor: pointer;
  -webkit-transform: translateX(8em);
          transform: translateX(8em);
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.notification-panel .my-product-large-container .my-product-container .my-product .fas {
  font-size: 1.7em;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.notification-panel .my-product-large-container .my-product-container .my-product .product-container {
  color: #6f44c4;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.notification-panel .my-product-large-container .my-product-container .my-product .product-container_texte {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #6f44c4;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 1.5em;
  display: inline-block;
  margin: 2px;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

body::-webkit-scrollbar {
  width: .2em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px #C6DEA6;
          box-shadow: inset 0 0 4px #C6DEA6;
}

body::-webkit-scrollbar-thumb {
  background-color: #b46d01;
  border-radius: 50px 50px;
}
/*# sourceMappingURL=main.css.map */