body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  background-color: #C6DEA6;
  position: relative;
}

header {
  width: 100%;
  height: 150px;
  background-color: #F3EAF3;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
}

header .logo {
  margin: 0 auto;
  width: 333px;
  height: 150px;
  background: url(../images/logo-orinoco.png);
}

footer {
  width: 100%;
  height: 150px;
  background-color: #F3EAF3;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .link-box {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .link-box a {
  text-decoration: none;
  color: #000000;
  font-size: 1.1em;
  position: relative;
}

footer .link-box a::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

footer .link-box a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.list-element {
  width: 90%;
  height: 175px;
  margin: 15px auto;
  list-style-type: none;
  background-color: #F3EAF3;
  -webkit-box-shadow: 0 0 3px #7e777e;
          box-shadow: 0 0 3px #7e777e;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-element_img {
  width: 20%;
  height: 145px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.list-element_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 60%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.list-element_text_name {
  font-size: 1.4em;
}

.list-element_price {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-size: 1.5em;
}

.my-cart-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.my-cart {
  position: -webkit-sticky;
  position: sticky;
  top: 20vh;
  left: 90vw;
  z-index: 999;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 67px;
  background-color: white;
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.my-cart .fas {
  font-size: 1.7em;
}

.my-cart .basket-icon {
  color: #6f44c4;
}

.my-cart .notification {
  height: 20px;
  width: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */