$background-color-primary : #F3EAF3;
$background-color-secondary : #C6DEA6;

$cart-icon-color-primary: #6f44c4;
$cart-icon-color-secondary: rgb(180, 109, 1);


$text-color : #000000;

$list-element-shadow : #7e777e
