.cart-wrapper{
    width: 85%;
    margin: 30px auto;
    background-color: $background-color-primary;
    border-radius: 8px 8px;
    padding: 20px;
    box-shadow: 0 0 10px $background-color-secondary-shadow;
    & h1{
        text-align: center;
        font-size: 2em;
    }
    & h2{
        display: none;
        text-align: center;
        margin: 100px 0;
    }
    & a{
        display: none;
        text-align: center;
        text-decoration: none;
        color: white;
        width: 230px;
        height: 50px;
        line-height: 50px;
        border-radius: 10px 10px;
        background-color: rgb(63, 63, 151);
        padding: 0 10px;
        margin: auto;
        font-family: sans-serif;
    }
    & .in-cart{
        width: 85%;
        height: 75px;
        margin: 40px auto;
        padding: 15px;
        border-collapse: separate;
        border-spacing: 0 1.5em;
        display: none;
        &_product{
            line-height: 3em;
            box-shadow: 0 0 5px $list-element-shadow;
            & td{
                background-color: white;
                padding: 20px;
                font-size: 1.2em;
                border: 1px solid rgba(0, 0, 0, .15);
            }
            &_img{
                display: flex;
                align-items: center;
                & img{
                    margin: auto;
                    max-width: 100px;
                    max-height: 100px;
                }
            }
            &_price{
                text-align: center;
            }
            &_quantity{
                text-align: center;
                & input:focus{
                    outline: none;
                }
            }
            &_delete{
                text-align: center;
                padding: 0 20px 0 0 ;
                & button{
                    background-color: rgb(175, 0, 0);
                    border-radius: 5px 5px;
                    color: white;
                    font-size: .7em;
                    height: 25px; 
                }
            }
        }
    }
    & .total-cost{
        background-color: white;
        line-height: 1em;
        box-shadow: 0 0 5px $list-element-shadow;
        & td{
            padding: 20px;
            font-size: 1.2em;
            border-left: 1px solid rgba(0, 0, 0, .15);
            text-align: end;
        }   
    }
}