$background-color-primary : #F3EAF3;
$background-color-primary-shadow : rgb(85, 83, 85);
$background-color-secondary : #C6DEA6;
$background-color-secondary-shadow : #535e45;
$background-color-input: #3f3f97;
$background-color-input: #68687a;
$background-color-cart-item: #FFFFFF;


$product-icon-color-primary: #6f44c4;
$product-icon-color-secondary: rgb(180, 109, 1);


$text-color : #353535;

$list-element-shadow : #7e777e
