$background-color-primary : #F3EAF3;
$background-color-primary-shadow : rgb(85, 83, 85);
$background-color-secondary : #C6DEA6;
$background-color-secondary-shadow : rgb(83, 94, 69);
$background-color-input: #3f3f97;
$background-color-input: #68687a;


$product-icon-color-primary: #6f44c4;
$product-icon-color-secondary: rgb(180, 109, 1);


$text-color : #000000;

$list-element-shadow : #7e777e
